@media screen and (max-width: 750px) {
	body {
		margin: 0;
		padding: 0;
		font-family: 'Open Sans', 微軟正黑體;
		color: black;
	}
	
	body div[id^="Menu"] { border: 0; }
		
	.SideMenu {
		display: block;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 4;
		top: 0;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		border-left: 1px solid #ddd;
	}
	
	.SideMenu a {
		padding: 16px;
		text-decoration: none;
		font-size: 16px;
		color: #ddd;
		display: block;
		transition: 0.3s;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
	}
	
	.SideMenu a:hover {
		color: white;
	}
	
	.SideMenu .closebtn::before {
		font-weight: bold;
		content: "Menu";
		color: white;
		position: absolute;
		left: 16px;
	}

	.SideMenu .closebtn {
		text-align: right;
		color: white;
		font-size: 18px;
		font-weight: bold;
		padding: 24px 18px;
		background-color: #00809D;
		border: 0;
	}
	
	.SideProject {
		display: block;
		height: 100%;
		width: 0;
		position: fixed;
		top: 0;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		z-index: 4;
		transition: 0.5s;
		border-left: 1px solid #ddd;
	}
	
	.SideProject a {
		padding: 16px;
		text-decoration: none;
		font-size: 16px;
		color: #ddd;
		display: block;
		transition: 0.3s;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
	}
	
	.SideProject a:hover {
		color: white;;
	}
	
	.SideProject .closebtn::before {
		font-weight: bold;
		content: "Microcontroller";
		color: white;
		position: absolute;
		left: 16px;
	}
	
	.SideProject .closebtn {
		text-align: right;
		color: white;
		font-size: 18px;
		font-weight: bold;
		padding: 24px 18px;
		background-color: #00809D;
		border: 0;
	}

	.sidenav span { color: #0D47A1; font-size:12px; }
	
	.imgln { display: block; }
	.sidenav { display: none; }
	.tabs { position: absolute; }
	.tabs span { padding: 18px 30px; }
	.tabs button { display: none; }
	.tab3 { display: block; }
	.btnMenu { 
		display: block;
		font-size:30px;
		cursor: pointer;
		float: right;
		padding: 14px 0;
	}
}