button { background-color: white; }
.container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

#player1, #player2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', 微軟正黑體;
	color: black;
	scroll-behavior: smooth;
	padding: 0 260px 0 260px;
}

.bgImg {
	display: none;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

body div[id^="Menu"] {
	display: none;
	z-index: 2;
	background-color: white;
	padding: 70px 20px 20px 20px;
	border: 1px solid #aaa;
}

h3 { 
	font-weight: bold;
	color: #0D47A1;
}

#Menu2 h4, li { line-height: 1; font-size: 16px; }
#Menu3 div[id^="page"] li { line-height: 2; }

.title1 { margin-bottom: -10px; }
.content1 { text-align: justify; font-size: 16px; line-height: 2; }
.content2 { text-align: justify; font-size: 16px; line-height: 2; margin-left: 32px; }
.tab1 {  }
.tab1 tr,td { padding: 10px; }
.tab2 { padding-top: 16px; }
.tab2 tr,td { padding: 10px; }
.tab3 { font-size: 16px; }
.tab-text { width: 200px; padding: 0; line-height: 2; }
.image1 { width: 100%; }
.image2 { width: 100%; }

.tabs {
	display: none;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}

.tabs button {
	background-color: inherit;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 20px 16px;
	transition: 0.4s;
	font-size: 17px;
	color: black;
	font-family: 'Open Sans', 微軟正黑體;
}

.tabs span {
	background-color: inherit;
	float: left;
	padding: 14px 30px;
	font-size: 24px;
	color: black;
	letter-spacing: 10px;
}

.tabs button:hover {
	color: #0D47A1;
	font-size: 24px;
	font-weight: bold;
}

.tabs button.active {
	color: #0D47A1;
	font-weight: bold;
}

.tab-content {
	display: none;
	-webkit-animation: fadeEffect 1.5s;
	animation: fadeEffect 1.5s;
}

@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

.sidenav {
	height: 100%;
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	border-right: 1px solid #aaa;
	z-index: 2;
	opacity: 0.9;
	padding-top: 70px;
}

.sidenav button {
	width: 100%;
	text-align: left;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Open Sans', 微軟正黑體;
	padding: 5px 8px 5px 30px;
	color: #818181;
	display: block;
	transition: 0.4s;
}

.sidenav button:hover {
	color: black;
	background-color: #ddd;
	font-weight: normal;
}

.sidenav button.active {
	color: #0D47A1;
	font-weight: bold;
}

.sidenav span { color: #0D47A1; font-size:12px; }

.btnMenu { display: none; }
.SideMenu { display: none; }
.SideProject { display: none; }
.imgln { float:right; }